.three-name-photo{
    display: flex;
    /* justify-content: center; */
}
.three-main{
    margin-top: 400px;
    margin-bottom: 10px;
}
.three-photo{
    width: 20%;
    /* margin-left: 20%; */
    /* position: relative; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: aqua; */
}
.three-photo img{
    
    border-radius: 50%;
    width: 100%;
    border: 5px solid;
    border-color: #121a23;
}
.three-name{
    /* background-color: rgb(25, 47, 47); */
    width: 80%;
    color: #27384c;
    margin-left: 10%;
    font-size: 2rem;
}
.three-name h1{
    /* width: 100%; */
    font-size: 3rem;
    font-weight: 800;

    /* margin-left: 20px; */
}
.three-main{
    width: 80%;
    background-color: white;
    margin: 30px auto 20px auto;
}


.three-lower{
    display: flex;
    margin-top: 30px;
}
.three-left{
    display: flex;
    flex-direction: column;
    width: 30%;
    margin-left: 5%;
}
.three-about-me{
   text-align: center;
}
.three-main button{
    background-color: #272727;
    color: white;
    padding: 6px 6px;
    margin-bottom: 2px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    margin-left: 10px;
 }
 .non-visible{
    display: none;
 }
 .three-main input
 {
    width: 50%;
    padding: 5px;
    border: 1px solid #ddd;
    background-color: white;
    border-radius: 4px;
    font-size: 16px;
    transition: border-color 0.3s;
 }
.three-about-me h1{
    font-weight: 500;
    font-size: 1.8rem;
}
.three-about-me p{
    width: 100%;
    /* background-color: #27384c; */
    margin: 15px;
    text-align: center;
}
.three-contact{
    margin-left: 15%;
}
.three-language{
    margin-top: 10px;
}
.blue{
    background-color: #27384c;
    color: white;
    font-size: 1.2rem;
    text-align: center;
    padding: 5px;
}
.blue-extended{
    width: 60%;
    background-color: #27384c;
    color: white;
    font-size: 1.2rem;
    text-align: center;
    padding: 5px;
}

.three-right{
    width: 70%;
    margin-left: 70px;
    margin-right: 20px;
    /* background-color: #121a23; */
}
.actual-education p{
    margin: 0;
    padding: 0;
}
.actual-education {
    margin: 10px;
    padding: 10px;
}
.actual-experience h1{
    font-size: 1.3rem;
    font-weight: bold;
}
.actual-experience{
    width: 80%;
}
.actual-experience h5{
    font-size: 1rem;
    /* font-weight: bold; */
}

@media only screen and (max-width: 600px){
    .three-name h1{
        /* width: 100%; */
        font-size: 1rem;
        font-weight: 800;
    
        /* margin-left: 20px; */
    }
    .three-name p{  
        font-size: 1rem;
    }
    body{
        font-size: 0.7rem !important;
    }
    .blue-extended{
        width: 100%;
        font-size: 0.8rem;
    }
    .blue{
        font-size: 0.8rem;
    }
    .three-about-me h1{
        font-weight: 500;
        font-size: 1rem;
    }
}








.r3-body{
    
    width: 70%;
    margin: 100px auto 0 auto;
    background-color: white;
}
.r3-nameandphoto{
    padding-left: 60px;
    display: flex;
    
}
.r3-name{
    font-family: 'Montserrat', sans-serif;

    margin-left: 10px;
    background-color: white;
}
.r3-des{
    margin-top: 0;
    margin-left: 120px;
    font-weight: 500;
    font-size: 1.2rem;
}
.r3-realname{
    color: #27384c;
    font-size: 4rem;
    margin-bottom: 0;
    margin-top: 0;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    /* font-size: 2rem; */
}
.r3-second{
    margin-left: 50px;

}
.r3-mainphoto{
    height: 200px;
    width: 200px;
    clip-path: circle(50%);
    background-image: url("cloud.png");
    background-size: cover;
    
}
.r3-photo img{
    width: 100%;
    
    margin-top: 10px;
    height: 220px !important;
}
.r3-content{
    margin-top: 50px;
}
.resume3img{
    position: relative;
    left: 60px;
}
.r3-photo{
    margin-top: 10px;
    height: 250px;
    overflow: hidden;
    width: 25%;
    margin-right: 50px;
    border-radius: 10px;
    border: 3px solid rgb(0, 48, 93);
}
.r3-nameandphoto{
    background-color: white;
}
.r3-content{
    display: flex;
}
.r3-am{
    font-weight: 500;
    font-size: 1.2rem;
    width: 50%;
    margin: 10px auto 0 auto;
    font-family: 'Montserrat', sans-serif;
}
.r3-des-about-me{
    
    
    width: 65%;
    margin: 10px auto 0 auto;
    font-family: 'Montserrat', sans-serif;
}
.r3-box{
    /* width: 60px; */
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.1px;
    font-family: 'Montserrat', sans-serif;
    background-color: #27384c;
    color: white;
}
.r3-box2{
    width: 80%;
}
.r3-box2 p{
    /* width: 90% !important; */
    margin: 10px auto 0 auto;
}
.r3-box p{
    /* width: 40%; */
    margin: 10px auto 10px auto;
    
}
.r3-content{
    background-color: white;
}
.r3-dark{
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9rem !important;
    margin-bottom: 0;
    
}
.r3-info-below-dark{
    font-family: 'Montserrat', sans-serif;
}
li{ 
    margin: 10px;
    font-family: 'Montserrat', sans-serif;
}

.r3-contact{
    margin-top: 30px;
    margin-left: 30px;
    margin-bottom: 30px;
    font-family: 'Montserrat', sans-serif;
}
td span{
    margin: 20px !important;
}
.r3-left{
    padding-left: 20px;
}
.r3-form{
    padding: 10px;
}
.r3-form input,textarea{
    background-color: #e3f0ffd3;
    margin: 10px;
}
.temp-remove{
    visibility: hidden;
    
}